[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
pre-commit-hooks = "*"
pytest = "*"
flake8 = "*"

[packages]
pdfminer-six = "*"
primenumbers = {path = "."}
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.7"
